body {
  background-color: black;
  background-size: 88pc;
  /* background-repeat: no-repeat; */
  color: white;
  font-family: "Baloo Bhaina 2", cursive;
}
#logo {
  height: 125px;
  width: auto;
  padding: 1px 62px;
}
.left div {
  padding-left: 12px;
  font-size: 20px;
  text-align: left;
  line-height: 0px;
}
.mid {
  display: block;
  color: white;
  margin: -165px 306px;
  border: white;
  width: 56%;
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  padding: 21px;
  margin-top: 11px;
}

.navbar li a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;

  color: white;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: gray;
}
.right {
  display: inline-block;
  color: white;
  /* border: 2px solid rgb(0, 255, 13); */
  position: absolute;
  top: 2.5px;
  right: 35px;
}

.btn {
  margin: 29px 3px;
  background-color: black;
  color: white;
  padding: 2px 11px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  background-color: rgb(71, 69, 69);
}
h1 {
  text-align: center;
  margin-top: 175px;
  text-decoration: underline;
  cursor: pointer;
}
fieldset {
  border: 3px solid #05d9f5;
  border-radius: 10px;
}
legend {
    text-align:center;
}
h3{
  display: inline-block;
  text-decoration:underline;
  text-align: center;
  font-size: xx-large;
}
img{


  width: 450px;
  display: inline-block;
}
#vision{
  margin-top: 141px;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  margin-top: 217px;
  margin-left: 15px;
 
}
.insta{
  padding: 10px;
  padding-top: 10px;
}
.facebook{
  padding: 10px;
  padding-top: 10px;
}
.youtube{
  padding: 10px;
  padding-top: 3px;
}