body {
  /* background-image: url(/img/3bg.jpg); */
  background-color: black;

  /* background-repeat: no-repeat; */
  color: white;
  font-family: "Baloo Bhaina 2", cursive;
}
#logo {
  height: 125px;
  width: auto;
  padding: 1px 62px;
}
.left div {
  padding-left: 12px;
  font-size: 20px;
  text-align: left;
  line-height: 0px;
}
.mid {
  display: block;
  color: white;
  margin: -165px 306px;
  border: white;
  width: 56%;
}
.navbar {
  display: inline-block;
}
.navbar li {
  display: inline-block;
  padding: 21px;
  margin-top: 11px;
}

.navbar li a {
  font-size: 20px;
  display: inline-block;
  text-decoration: none;

  color: white;
}
.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: gray;
}
.right {
  display: inline-block;
  color: white;
  /* border: 2px solid rgb(0, 255, 13); */
  position: absolute;
  top: 2.5px;
  right: 35px;
}

.btn {
  margin: 22px 17px;
  background-color: black;
  color: white;
  padding: 2px 11px;
  border: 2px solid grey;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
}
.btn a {
  text-decoration: none;
  color: white;
}
.btn:hover {
  background-color: rgb(71, 69, 69);
}
h1 {
  margin-top: 240px;
  font-family: sans-serif;
}
h2 {
  margin: 14px 0px -32px 20px;
  font-family: sans-serif;
  
}
p {
  margin: -22px 0px 0px 165px;
  font-size: 20px;
  font-family: sans-serif;
}
.location {
  margin-left: 46pc;
  margin-top: -17pc;
}
#locate {
  margin-left: 178px;
}

.add {
  margin: 50px 0px 0px 21px;
}
.email a{
    text-decoration: none;
}
.call a{
    text-decoration: none;

}
.container {
  width: 600px;
  /* border: 2px solid aqua; */
  margin-top: 10px;
}
hr {
  background-color: aqua;
}
.container h1 {
  font-size: 27px;
}

.form-group input {
  font-family: "Baloo Bhaina 2", cursive;
  text-align: center;
  display: block;
  width: 401px;
  padding: 8px;
  border: 2px solid black;
  margin: 13px auto;
  font-size: 15px;
  border-radius: 8px;
}

select {
  font-family: "Baloo Bhaina 2", cursive;
  text-align: center;
  display: block;
  width: 422px;
  padding: 8px;
  border: 2px solid black;
  margin: 13px auto;
  font-size: 15px;
  border-radius: 8px;
}
textarea {
  font-family: "Baloo Bhaina 2", cursive;
  text-align: center;
  display: block;
  width: 403px;
  padding: 0px;
  border: 2px solid black;
  margin: 13px auto;
  font-size: 15px;
  border-radius: 8px;
}
.container button {
  display: block;
  width: 35%;
  margin: 19px auto;
  padding: 10px 6px;
}
.container1 {
  width: 600px;
  margin: -180px auto;
}
.icons{
  display: flex;
  flex-wrap: wrap;
  margin-top: 217px;
  margin-left: 15px;
 
}
.insta{
  padding: 10px;
  padding-top: 10px;
}
.facebook{
  padding: 10px;
  padding-top: 10px;
}
.youtube{
  padding: 10px;
  padding-top: 3px;
}
